@import "../../App";

.button {
  @include centre-items;
  @include pageTransition;

  background-color: $primary-color;
  width: 100px;
  height: 34px;
  border-radius: 80px;

  &__text {
    @extend %body;

    &--disabled {
      color: $color-white;
    }
  }

  &:hover {
    background-color: $button-hover;
  }

  &--disabled {
    background-color: $button-disabled;
  }
}