@import "../utils/variables";

@font-face {
  font-family: 'Nunito';
  src: url('./Nunito-Regular.ttf') format('truetype');
}

%heading {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

%heading-white {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: $color-white;
}

%body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}

%body-white {
  font-family:'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: $color-white;
}

%placeholder {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

