@import 'variables';

@mixin for-mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin for-tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin for-small-desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin for-desktop {
  @media only screen and (max-width: 1137px) {
    @content;
  }
}

@mixin for-big-desktop {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pageInlinePadding {
  padding-inline: 16px;
}

@mixin pageTransition {
  transition: all 500ms ease-in-out;
}

@mixin center-text {
  text-align: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}