@import 'variables';

@mixin for-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-small-desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin for-desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pageInlinePadding {
  padding-inline: 16px;

  @include for-tablet {
    padding-inline: 32px;
  }

  @include for-small-desktop {
    padding-inline: 60px;
  }

  @include for-desktop {
    padding-inline: 0;
  }
}

@mixin pageTransition {
  transition: all 500ms ease-in-out;
}

@mixin center-text {
  text-align: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}