@import "../../App";

.header {
  @include pageInlinePadding;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 104px;
    height: 26px;
  }

  &__buttonsContainer {
    display: flex;
    gap: 10px;
  }
}