@import '../../App';

.uploader {
  display: flex;
  width: 100%;
  min-width: 324px;
  max-width: 380px;
  height: 54px;
  align-items: center;

  @include for-tablet {
    width: 380px;
  }

  &__button {
    @extend %body;

    width: 83px;
    height: 100%;
    background-color: transparent;
    border-radius: 4px 0 0 4px;
    border: 1px solid black;
  }

  &__path {
    @extend %body;

    color: $color-gray;
    flex: 1;
    height: 100%;
    border-radius: 0 4px 4px 0;
    border: 1px solid $color-lt-gray;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}